.app-container {
  padding-top: 80px; // 64px + 16px del margin-top del header
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 599px) {
  .app-container {
    padding-top: 72px; // 56px + 16px del margin-top del header
  }

  // En móviles, el header ocupa todo el ancho
  .header {
    top: 8px;
    left: 8px;
    right: 8px;
    border-radius: 12px;
  }
}
